@media(max-width: 991px) {

    /* GLOBAIS */

    .container {
        padding: 0 5%;
    }

    .titulo {
        font-size: 48px;
        margin-bottom: 60px;
    }

    .box {
        flex-direction: column;
        justify-content: unset;
        gap: 60px;
    }

    #projetos, #objetivo {
        height: 100%;
    }

    /* PROJECT */

    .project-card {
        width: 100%;
        height: 100%;
    }

    /* ABOUT */

    .about-card {
        width: 100%;
        height: 100%;
        padding: 20px 12px;
    }
}

@media(max-width: 767px) {

    /*CABECALHO*/

    .cabecalho h1 {
        font-size: 32px;
    }

    .cabecalho ul {
        display: none;
    }

    /*HERO*/

    .hero h1 {
        font-size: 64px;
    }

    
    

    /* ACADEMIC */

    .academic h5 {
        font-size: 18px;
    }

    .academic h6 {
        font-size: 16px;
        margin-bottom: 12px;
        font-weight: 300;
    }


    .academic h4 {
        font-size: 20px;
    }

    .academic p {
        font-size: 16px;
    }

    /* GOAL */

    .goal p {
        font-size: 18px;
    }

    /* FOOTER */

    .footer {
        height: 120px;
    }

}

@media(min-width:992px) and (max-width:2000px) {

    .container {
        padding: 0 5%;
    }

    .titulo {
        margin-bottom: 60px;
    }

    .box {
        justify-content: space-evenly;
        
    }


    /* PROJECTS */

    .project-card {
        height: 100%;
    }

    /* ABOUT */ 

    .about-card {
        width: 45%;
        height: 100%;
    }

}